body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
}

header {
    border-bottom: 2px solid gray;
}

footer {
    margin: 20px 0;
}
